.main_home{
    display: flex;
    /* background-color: aqua; */
    height: 100vh;
    margin: 0; 
}
.main_home_right{
    width: 85%;
    height: 100vh;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    /* background-color: red; */
}
.main_home_right_top{
    width: 100%;
    /* background-color: rgb(202, 110, 255); */
}
.main_home_right_main{
    height: 100%;
    /* background-color:burlywood; */
}
.main_home_right_top{
    width: 100%;
    height: 80px;
    /* background-color: blue; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #CAD1D8;
}
.search_box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    /* background-color: blue; */
}
.search_box input{
    width: 50%;
    padding: 10px;
    border: 1px solid #71808C;
    color: #71808C;
    border-radius: 30px;
    height: 35%;
}
.subset_subject{
    /* background-color: red; */
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle_subject{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12.5%;
    /* background-color: orange; */
}
.circle{
    background-color: #C6DBFF;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.main_right_bottom{
    height: 50%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_bottom{
    margin-bottom: 5%;
    display: flex;
    /* background-color:red; */
    height: 60%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.box{
    margin: 12.5px;
    width: 15%;
    height: 100%;
    border-radius: 25px;
    background-color:#C6DBFF;
}
.main_right_student_box_container{
    height: 100%;
    /* background-color: chartreuse; */
    display: flex;
    padding: 50px;
}
.main_right_student_box{
    width: 225px;
    height: 225px;
    margin: 25px 25px;
    /* background-color: orange; */
    border: 1px solid #CAD1D8;
    /* margin-right: 50px; */
    /* margin-bottom: 100px; */
    border-radius: 20px;
    overflow: hidden;
}
.main_right_student_box_head{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6F1FF;
    height: 75%;
}