.main_right_subject{
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.main_right_box_subject{
    width: 75%;
    height: 100%;
    /* background-color: red; */
}
.main_right_box_subject_head{
    margin-top: 5%;
    /* background-color:burlywood; */
    display: flex;
    width: 100%;
}
.main_right_box_subject_head_circle{
    width: 135px;
    height: 135px;
    border-radius: 50%;
    background-color: #C6DBFF;
    margin-right: 10px;
}
.main_right_box_subject_head_name{
    width: 80%;
    /* background-color: aqua; */
    /* width: 500px; */
}
.main_right_box_subject_head_name h3{
    margin-top: 30px;
    margin-bottom: -10px;
    color: #447BF7;
    font-size: 48px;
    font-weight: bold;
}
.main_right_box_subject_head_name p{
    border-top: 1px solid black;
}
.main_right_box_subject_main{
    /* margin-top: 20px; */
    /* background-color:chartreuse; */
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_right_box_subject_main_box{
    /* background-color: violet; */
    border: 1px solid black;
    border-radius: 12.5px;
    width: 75%;
    height: 80%;
    display: flex;
    margin-bottom: 20px;
}
.main_right_box_subject_main_box_left{
    margin: 15px;
    width: 10%;
    /* background-color: lightseagreen; */
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.main_right_box_subject_main_box_left_head{
    width: 100%;
    height: 15%;
    /* background-color:#26ff00; */
    display: flex;
    justify-content: right;
}
.main_right_box_subject_main_box_left_head_circle{
    /* margin-top: 10%; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #C6DBFF;
}
.main_right_box_subject_main_box_left i{
    /* background-color: #447BF7; */
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 28px;
    color: #71808C;
    height: 27.5%;
}
.main_right_box_subject_main_box_right{
    margin: 15px 15px 15px 0px;
    width: 80%;
    /* background-color: palegoldenrod; */
}
.main_right_box_subject_main_box_right_head{
    display: flex;
    justify-content: left;
    align-items: center;
    /* background-color: #aaaaaa; */
    height: 13.5%;
    border-bottom: 1px solid #71808C;
}
.main_right_box_subject_main_box_right_main{
    height: 60%;
    margin-top: 20px;
    /* background-color:beige; */
    border-bottom: 1px solid #71808C;
}
.main_right_box_subject_main_box_right_tail{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
}
.main_right_box_subject_main_box_right_tail_left{
    width: 25%;
    /* background-color: orange; */
    color: #71808C;
    font-weight: bold;
}
.main_right_box_subject_main_box_right_tail_right{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.main_right_box_subject_main_box_right_tail_right p{
    font-weight: bold;
    /* background-color: brown; */
}
.main_right_box_subject_main_box_right_tail_right_score{
    /* background-color: palevioletred; */
    margin-right: 2.5%;
}
.main_right_box_subject_main_box_right_tail_right_choice{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: purple; */
    width: 35%;
    margin-right: 2.5%;
}
.main_right_box_subject_main_box_right_tail_right_choice i{
    margin-right: 2.5%;
    color: #1E1E1E;
    font-size: 20px;
}
.main_right_box_subject_main_box_right_tail_right_box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #447BF7;
    color: white;
    border-radius: 10px;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: normal;
}

.main_right_box_subject_main_box_right_main{
    height: 53%;
    /* background-color: #B0C3CC; */
}

.main_right_box_take_test_main_tail{
    height: 15%;
    /* background-color:blanchedalmond; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_right_box_take_test_main_tail_box a{
    padding: 10px 25px 10px 25px;
    background-color: #447BF7;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.main_right_box_subject_main_box_right_tail_right_student{
    display: flex;
    align-items: center;
    /* background-color: #71808C; */
}
.main_right_box_subject_main_box_right_tail_right_student p{
    font-weight: bold;
    margin-right: 15px;
}
.main_right_box_subject_main_box_right_tail_right_student button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: #447BF7;
    color: white;
    border-radius: 10px;
}
.popup_container_subject_student{
    width: 100vw;
    height: 100vh;
    background-color: rgb(171, 171, 171);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.popup_container_box_subject_student{
    width: 1000px;
    height: 650px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.popup_box_subject_student{
    width: 80%;
    height: 100%;
    /* background-color: rgb(133, 126, 202); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}